
.diceBox{
  border: solid 5px black;


}
.dice{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  border: solid 4px black;
  margin: 5px;
  border-radius: 15px;
  height: 100px;
  width: 100px;
}

.roll{
  height: 40px;
  width: 80px;
  margin: 10px;
  background-color: aquamarine;
}

.reset{
  height: 40px;
  width: 100px;
  margin: 10px;
  background-color: aquamarine;
}

