* {
  box-sizing: border-box;
  justify-self: center;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  /* background-color: lightgray; */
  background: linear-gradient(180deg, #838485 1.18%, #616060 100%);
}

.header{
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-around;
  background: linear-gradient(45deg, #7ac9e9 1%, #525151 100%);
  color: white;
  border: 1px transparent solid;
  border-radius: 10px;

}
.header--title{
  color: rgb(255, 255, 255);
  font-size: 30px;

}

.student{
  color: black;
}

main{
  padding: 36px;
}

.main--form{
  display: inline-block;
  

}
.form{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  justify-content: space-around;
  gap: 17px;
}

.form--input{
  display: inline-block;
  margin: 10px;
  height: 5vh;
  width: 30vw;
  border-radius: 5px;
  border: 3px solid black;
  text-indent: 5px;
}


.saveEdit{
  width: 20vw;
  height: 5vh;
  margin: 10px;
  display: inline;
  justify-content: center;
  border: 2px solid black;
  border-radius: 5px;
  background: linear-gradient(45deg, #7ac9e9 50%, #949292 100%);
  box-shadow: #404141 5px 5px 15px 5px;
}

.saveEdit:hover {background-color: #3e8e41}

.saveEdit:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.memebtn{
  height: 4vh;
  width: 40vw;
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
  background: linear-gradient(45deg, #7ac9e9 50%, #949292 100%);
  box-shadow: #404141 5px 5px 15px 5px;
  grid-column: 1 / -1;  
  right: 20vw
}

.memebtn:hover {background-color: #3e8e41}

.memebtn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.meme--image{
  max-width: 100%;
  border-radius: 6px;
  border: 1px solid black;
  box-shadow: #0e0d0d 5px 1px 8px 3px
}

.meme--container {
  position: relative;
  margin: 3vh;
}

.meme {
  display: flex;
  align-items: center;
  justify-content: center;
 
  /* width: fit-content; */
  margin: 15px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}