* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
  outline: none;
  text-decoration: none;
}

.navlink {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  background-color: rgba(224, 224, 224, 0.6);
}

.auth-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;

}

.auth-container>h1 {
  font-size: 2em;
  margin: 24px;
}

.auth-container>p {
  margin: 16px;
  text-decoration: underline;
}

.auth-container>form {
  border: 1px solid #3339;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(37, 35, 124, 0.6);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.auth-container>form>input {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
}

.auth-container>form>button {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
}

.exercise{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
  padding: 10px;
  width: 30dvw;
  border: 2px solid black;
}

.exercise-name{
  display: flex;
  justify-content: center;
}

.exercise-muscle{
  margin: 5px;
  text-decoration: underline;
}

.exercise-difficulty{
  margin: 5px;
}

.exercise-instructions{
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  background-color: rgb(231, 90, 90);
}

.goal-contanier{
  display: flex;
  justify-content: center;
}
.goal-form{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 60dvw;
  display: flex;
  margin: 20px;
  padding: 10px;
}

.goal-input{
  margin: 15px;
}

.goal-posted{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.goal-listed{
  margin: 5px;
  padding: 5px;
}

