.cardContaner{
    display: inline;
    width: fit-content;
    width: 80px;    
}

.card--travel{
    border: 2px solid black;
    width: 200px;
    background-color: white;
    border-radius: 15px;
    padding-top: 5px;
    margin-top: 5px;
}